<!-- index.html -->
<!doctype html>

<!-- Assig Angular Module ASSIGN OUR ANGULAR MODULE -->
<html ng-app="GossipsMain">
<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Node/Angular Gossips App</title>

	<!-- Scrolls -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#gossip-list 			{ margin-bottom:30px; }
	</style>

	<!-- Spells -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
	<script src="/socket.io/socket.io.js"></script><!-- load socket libraries -->
	<script src="js/controllers/mainController.js"></script><!-- custom angular controller -->

</head>
<!-- Set the angular controller and get all the gossips -->
<body ng-controller="mainController">
	<div class="container">

		<!-- Header and gossips count -->
		<div class="jumbotron text-center">
			<h1>We have new gossips to tell you <span class="label label-info">({{ gossips.length }})</span></h1>
		</div>

		<!-- Gossips list -->
		<div id="gossip-list" class="row">
			<div class="col-sm-4 col-sm-offset-4">

				<!-- Loop over the gossips in $scope.gossips -->
				<div class="checkbox" ng-repeat="gossip in gossips">
					<label>
						<input type="checkbox" ng-click="deleteGossip(gossip.id)"> {{ gossip.description }}
					</label>
				</div>

			</div>
		</div>

		<!-- Form to create new gossips -->
		<div id="gossip-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
						<input type="text" class="form-control input-lg text-center" placeholder="I do have new gossips to share!" ng-model="formData.description" ng-required='true'>
					</div>

					<!-- createGossip() will create new gossips -->
					<button type="submit" class="btn btn-primary btn-lg" ng-click="createGossip()">Add</button>
				</form>
			</div>
		</div>

	</div>

</body>
</html>
